body {
  margin: 0;
  height: 100%;
  background-color: lightblue;
}
#title {
  color: darkred;
  font-family: Georgia;
  font-size: 30px;
  margin-bottom: 2px;
}
h2 {
  font-family: Georgia;
  color: darkred;
  font-size: 17px;
  margin-top: 5px;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  font-family: Georgia;
}
#img-div {
  display: block;
  width: 25%;
}
#img-div img {
  width: 100%;
  height: auto;
}
#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 17px;
  margin-left: 15%;
  margin-right: 14%;
}
#source {
  text-align: center;
  font-family: Georgia;
  font-size: 15px;
}
title {
  color: darkred;
  font-family: Georgia;
  font-size: 30px;
  margin-bottom: 2px;

h2 {
  font-family: Georgia;
  color: darkred;
  font-size: 17px;
  margin-top: 5px;
  }
  #main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia;
  }
  #img-div {
    display: block;
    width: 25%;
  }
  #img-div img {
    width: 100%;
    height: auto;
  }
  #tribute-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 17px;
    margin-left: 15%;
    margin-right: 14%;
  }
  #source {
    text-align: center;
  }
  a:hover {
    color: red;
  }
}
a:hover {
  color: red;
}
